@font-face {
    font-family: 'novecentosanswide';
    src: url('../fonts/novecentosanswide-normal-webfont.eot');
    src: url('../fonts/novecentosanswide-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentosanswide-normal-webfont.woff') format('woff'),
         url('../fonts/novecentosanswide-normal-webfont.ttf') format('truetype'),
         url('../fonts/novecentosanswide-normal-webfont.svg#novecento_sans_widenormal') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'novecentosanswide';
    src: url('../fonts/novecentosanswide-bold-webfont.eot');
    src: url('../fonts/novecentosanswide-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentosanswide-bold-webfont.woff') format('woff'),
         url('../fonts/novecentosanswide-bold-webfont.ttf') format('truetype'),
         url('../fonts/novecentosanswide-bold-webfont.svg#novecentosanswidebold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'novecento_sans_widebook';
    src: url('../fonts/novecentosanswide-book-webfont.eot');
    src: url('../fonts/novecentosanswide-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentosanswide-book-webfont.woff') format('woff'),
         url('../fonts/novecentosanswide-book-webfont.ttf') format('truetype'),
         url('../fonts/novecentosanswide-book-webfont.svg#novecento_sans_widebook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'novecento_sans_widemedium';
    src: url('../fonts/novecentosanswide-medium-webfont.eot');
    src: url('../fonts/novecentosanswide-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentosanswide-medium-webfont.woff') format('woff'),
         url('../fonts/novecentosanswide-medium-webfont.ttf') format('truetype'),
         url('../fonts/novecentosanswide-medium-webfont.svg#novecento_sans_widemedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

img {
	vertical-align: middle;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a[href], label[for], select, 
input[type=checkbox], input[type=radio] {
	cursor: pointer;
}

button, input[type=button], input[type=image], 
input[type=reset], input[type=submit] {
	padding: 0;
	overflow: visible;
	cursor: pointer;
}
input[type=text], input[type=email], input[type=reset], input[type=button], input[type=submit], button{
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
input[type=url], input[type=password], input[type=text], input[type=email], input[type=reset], input[type=button], input[type=submit], button, textarea{
     -webkit-appearance: none;
     -webkit-border-radius: 0;
     box-sizing: border-box;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}

button::-moz-focus-inner, 
input[type=button]::-moz-focus-inner, 
input[type=image]::-moz-focus-inner, 
input[type=reset]::-moz-focus-inner, 
input[type=submit]::-moz-focus-inner {
	border: 0;
}


body,
html {height: 100%;}
body{
	margin:0;
	color:#a4a7ac;
	font:18px Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust: none; 
}
img{border-style:none; vertical-align: top;}
a{text-decoration:none; color:#6e6e6e;}
a:hover{text-decoration:underline;}
#wrapper{
	width:100%;
	height: 100%;
}
.wrapper-header {
	width:100%;
	height: 10%;
    display:table;
    background: #0000FF;
}
.index-wrapper{
	width:100%;
	height:90%;
	margin:0px auto;
	padding: 0px auto;
	display:table;
}
.index-body{
	max-width:70%;
	min-width:50%;
	margin:0px auto;
	padding: 0px auto;
	display:table;
}

.member-body{
	width:50%;
	margin:10px auto;
	padding: 10px auto;
	display:table;
	text-align:center;
}
.member-item-center{
	width:150px;
	height:150px;
	background:#0F00FF; 
	display:inline-block;
	margin:30px 30px;
	vertical-align:top;
}

.member-item-left{
	width:150px;
	height:150px;
	background:#0F00FF;
	float:left;
	display:inline-block;
	margin:30px 30px;
	vertical-align:top;
}

.publication-body{
	width:50%;
	margin:10px auto;
	padding: 10px auto;
	display:table;
	
}

#header {
	max-width: 970px;
	margin: 0 auto;
	padding: 20px 0 20px;
	position:relative;
}
.menu_trigger{
	width: 31px;
	height: 31px;
	right:0;
	background: url(../images/btn_mobile_menu.png) no-repeat;
	text-indent: -9999em;
	display: none;
	top: 5px;
	position: absolute;
}
.logo {
	text-align:center;
	font-family: 'novecentosanswide';
	font-weight:bold;
	color: #fff;
	font-size: 35px;
	line-height: 38px;
	display: block;
	text-transform: uppercase;
	margin: 15px 0 15px;
}
#nav {
	position: relative;
	display: table;
	margin: 0 auto 10px;
	padding: 0 0 0 10px;
}
#nav ul {
	text-align: center;
}
#nav ul li {
	float: left;
	padding: 0 0 0 60px;
}
#nav ul li:first-child{padding: 0;}
#nav ul a {
	color: #aeecc2;
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
	padding: 0 0 10px;
	border-bottom: 4px solid #62bb7f;
	font-family: 'novecentosanswide';
	font-weight: normal;
}
#nav ul a:hover,#nav ul a.active{
	color: #fff;
	border-bottom: 4px solid #fff;
	text-decoration: none;
	-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
h2.slogan{
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 32px;
	padding: 34px 0 50px 0;
	background: url(../images/slogan_bg.gif) no-repeat 50% 0;
}
/*main
 */
#main{
	max-width: 1170px;
	margin: 0 auto;
	padding: 93px 0 76px;
	position:relative;
	background: url(../images/icon_header.png) no-repeat 50% 0;
}
#main h2{
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-family: 'novecento_sans_widebook';
	font-size: 30px;
	line-height: 32px;
	color: #fff;
	margin: 0 0 81px;
}
.box_timeline_holder{
	background: url(../images/bg_timeline_l.png) no-repeat 0 70px;
	position: relative;
	padding: 0 0 0 100px;
	overflow: hidden;
}
.box_timeline{
	background: url(../images/bg_timeline_r.png) no-repeat 100% 70px;
	position: relative;
	padding: 0 100px 0 0;
	overflow: hidden;
}
.box_timeline ul{
	position: relative;
	background: url(../images/bg_ul.gif) repeat-x 0 76px;
	overflow: hidden;
}
.box_timeline ul li{
	float:left;
	width: 170px;
	margin: 0 0 0 30px;
	background: url(../images/bg_ul.gif) repeat-x 0 76px;
}
.box_timeline ul li:first-child{margin: 0;}
.box_timeline ul li .date{
	background: url(../images/bg_timeline_c.png) no-repeat 50% 0;
	height: 86px;
	width: 170px;
	margin: 0 auto 12px;
	overflow: hidden;
}
.box_timeline ul li .date span{
	font-family: 'novecentosanswide';
	font-weight:bold;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	display: block;
	text-align: center;
	padding: 15px 0 0 0;
}
.box_timeline h3{
	font-family: 'novecento_sans_widemedium';
	color: #50af6f;
	font-size: 14px;
	line-height: 16px;
	display: block;
	text-align: center;
	margin: 0 0 10px;
}
.box_timeline p{
	font-family: Arial, Helvetica, sans-serif;
	color: #a4a7ac;
	font-size: 16px;
	line-height: 18px;
	display: block;
	text-align: center;
	margin: 0 0 10px;
}
/*skills*/
#main .skills_holder h2{text-align: left;margin: 0 0 40px;}
.skills_holder{
	width: 100%;
	overflow: hidden;
	margin: 0 0 40px;
}
.skills_holder .column {
	width: 470px;
	float: left;
	margin: 0 10px 0 0;
}
.skills_holder .column.column-add {
	float: right;
	margin: 0;
}
.progress{
	overflow: hidden;
	width: 100%;
	margin: 20px 0 3px 0;
}
.progress li{
	overflow: hidden;
	height: 43px;
	line-height: 43px;
	background: #46484c;
	border-radius: 5px;
	behavior: url(css/PIE.htc);
	margin: 0 0 27px;
}
.progress li span{
	background: #50af6f;
	color: #fff;
	text-transform:uppercase;
	display: block;
	font-family: 'novecentosanswide';
	font-weight: normal;
	font-size: 18px;
	padding: 0 0 0 20px;
}
.progress li span.photoshop{width: 100%;}
.progress li span.illustrator{width: 70%;}
.progress li span.indesign{width: 40%;}
.progress li span.flash{width: 80%;}
.progress li span.html{width: 75%;}
.progress li span.wordpress{width: 85%;}
.progress li span.jquery{width: 70%;}
.progress li span.seo{width: 40%;}
.plagin_list{
	width: 100%;
	overflow: hidden;
	margin: 0 0 65px;
}
.plagin_list li{
	float:left;
	margin: 0 0 0 25px;
	border-radius: 50%;
	behavior: url(css/PIE.htc);
	text-indent: -9999px;
	background: #28292b;
	width: 121px;
	height: 121px;
	position:relative;
	display: inline-block;
	border: 1px solid #46484c;
}
.plagin_list li:first-child{margin: 0;}
.plagin_list li a{
	display: block;
	vertical-align: middle;
	height: 100%;
	position: relative;
}
.plagin_list li.li_1 a{background: url(../images/icon_ps.png) no-repeat 50% 50% ;}
.plagin_list li.li_2 a{background: url(../images/icon_ai.png) no-repeat 50% 50% ;}
.plagin_list li.li_3 a{background: url(../images/icon_ld.png) no-repeat 50% 50% ;}
.plagin_list li.li_4 a{background: url(../images/icon_fl.png) no-repeat 50% 50% ;}
.plagin_list li.li_5 a{background: url(../images/icon_html.png) no-repeat 50% 50% ;}
.plagin_list li.li_6 a{background: url(../images/icon_wp.png) no-repeat 50% 50% ;}
.plagin_list li.li_7 a{background: url(../images/icon_jq.png) no-repeat 50% 50% ;}
.plagin_list li.li_8 a{background: url(../images/icon_seo.png) no-repeat 50% 50% ;}
.wrapper-holder.grey p{padding: 0 0 25px;}
.plagin_list.none{display: none;}

/*portfolio*/
.sub_nav {
	position: relative;
	display: table;
	margin: 0 auto 79px;
	padding: 0 0 0 10px;
	text-align: center;
}
.sub_nav li {
	padding: 0 0 0 45px;
	display: inline-block;
}
/* .sub_nav li:first-child{padding: 0;} */
.sub_nav a {
	color: #a4a7ac;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	padding: 0 0 10px;
	border-bottom: 4px solid #3b3c3e;
	font-family: 'novecentosanswide';
	font-weight: normal;
}
.sub_nav a:hover,.sub_nav a.active{
	color: #50af6f;
	border-bottom: 4px solid #50af6f;
	text-decoration: none;
	-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
/* begin add */
.sub_nav li {
	color: #a4a7ac;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	margin: 0 22px;
	padding: 0 0 10px;
	border-bottom: 4px solid #3b3c3e;
	font-family: 'novecentosanswide';
	font-weight: normal;
}
.sub_nav li:hover,.sub_nav .active {
	color: #50af6f;
	border-bottom: 4px solid #50af6f;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
/* end add */
.item-list {
	overflow: hidden;
	text-align:center;
	margin: 0 0 0 -24px;
}
.item-list li {
	display:inline-block;
	margin: 0 0 25px 24px;
	vertical-align: top;
	font-size: 0;
}
.item {
	text-align: center;
	width: 270px;
	margin: 0 auto;
}
.item .image {
	position: relative;
}
.item .image img {
	max-width: 100%;
	height:auto;
	border-radius: 50%;
}
.item .hover {
	display: none;
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background: #6abb84;
	opacity: 0.9;
	border-radius: 50%;
	behavior: url(css/PIE.htc);
}
.item .hover.active{display: block;}
.item .item-content {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	height: 270px;
	z-index: 400;
	padding: 0 30px;
}
.item a{
	text-decoration: none;
}
.item .item-content h4{
	display: block;
	background: url(../images/bg_white_border.gif) no-repeat 50% 100%;
	color: #fff;
	text-transform: uppercase;
	font-family: 'novecentosanswide';
	font-weight:bold;
	font-size: 14px;
	line-height: 16px;
	padding: 0 0 20px;
	text-align: center;
	margin: 0 0 15px;
}
.item .item-content p{
	color: #fff;
	text-align: center;
	display: block;
	font-size: 15px;
	line-height: 17px;
}
/*contact*/
.clear{clear: both;}
.images_holder{
	float: left;
	margin:5px 130px 0 0;
	width: 370px;
}
.images_holder img{
	width: 100%;
	height: auto;
	display: inline;
}
.box_contact{
	overflow:hidden;
	margin: 54px 0 0 0;
}
.box_contact span{
	color: #fff;
	font-family: 'novecento_sans_widebook';
	font-size: 30px;
	line-height: 32px;
	text-transform: uppercase;
	display: block;
	margin: 0 0 55px;
	padding: 5px 0 18px 80px;
}
.box_contact span.email{background: url(../images/icon_email2.png) no-repeat;}
.box_contact span.phone{background: url(../images/icon_phone.png) no-repeat;}
.box_contact span.skype{background: url(../images/icon_skype.png) no-repeat;}
/*footer
 */
#footer {
    width:100%;
    overflow:hidden;
    display:table-footer-group;
    background:#fff;
}
.footer-content {
	max-width: 1170px;
	margin: 0 auto;
	padding: 45px 0 20px;
	color: #a5a5a5;
}
.footer-content .social{
	overflow:hidden;
	margin: 0 auto 45px;
	width: 670px;
}
.footer-content .social li{
	float:left;
	margin: 0 0 0 10px;
	border-radius: 50%;
	behavior: url(css/PIE.htc);
	text-indent: -9999px;
	background: #c6cfc9;
	width: 123px;
	height: 123px;
	position:relative;
	display: table;
}
.footer-content .social li:first-child{margin: 0;}
.footer-content .social li:hover{
	background: #50af6f;
	-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
.footer-content .social li a{
	display: table-cell;	
	position: relative;
}
.footer-content .social li.email a{background: url(../images/icon_email.png) no-repeat 50% 50% ;}
.footer-content .social li.facebook a{background: url(../images/icon_fb.png) no-repeat 50% 50%;}
.footer-content .social li.google a{background: url(../images/icon_gl.png) no-repeat 50% 50% ;}
.footer-content .social li.twitter a{background: url(../images/icon_tw.png) no-repeat 50% 50% ;}
.footer-content .social li.pinterest a{background: url(../images/icon_pn.png) no-repeat 50% 50%;}
.footer-content p{
	font:18px/20px Arial, Helvetica, sans-serif;
	display: block;
	text-align: center;
	color: #929c95;
}
/* begin add	 */
.popup_portfolio{
	max-width: 1132px;
}
.popup_portfolio h3{
	padding-top:26px;
	font-family: 'novecentosanswide';
	font-weight:bold;
	color: #63666a;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
}
.popup_portfolio time{
	font-family: 'novecentosanswide';
	color: #abacaf;
	font-size: 12px;
	line-height: 12px;
	text-transform: uppercase;
}
.popup_portfolio p{
	padding: 17px 0 8px;
	color: #808286;
	font-size: 16px;
	line-height: 30px;
}
.popup_portfolio img {
	width: 100%;
	height: auto;
	border-radius: 8px;
}
.fancybox-close {
	width: 46px;
	height: 46px;
	top: -23px;
	right: -20px;
	background-image: url(../images/ico_btn-close.png);
}
.fancybox-opened .fancybox-skin{
	padding: 20px !important;
	border-radius: 10px;
}
.fancybox-nav {
	display: none;
}
/* end add	 */

@media (-webkit-min-device-pixel-ratio:2) ,(min--moz-device-pixel-ratio:2),(-o-min-device-pixel-ratio:2/1),(min-device-pixel-ratio:2),(min-resolution:192dpi),(min-resolution:2dppx){
	#main {
		background-image: url(../images/icon_header@x2.png);
		background-size:114px 46px;
	}
	.menu_trigger{
		background-image: url(../images/btn_mobile_menu@x2.png);
		background-size:31px 30px;
	}
	.slogan{
		background-image: url(../images/slogan_bg@x2.gif);
		background-size:80px 4px;
	}
	.box_timeline_holder{
		background-image: url(../images/bg_timeline_l@x2.png);
		background-size:100px 16px;
	}
	.box_timeline{
		background-image: url(../images/bg_timeline_r@x2.png);
		background-size:100px 16px;
	}
	.box_timeline ul li .date{
		background-image: url(../images/bg_timeline_c@x2.png);
		background-size:50px 86px;
	}
	.footer-content .social li.email a{
		background-image: url(../images/icon_email@x2.png);
		background-size:51px 38px;
	}
	.footer-content .social li.facebook a{
		background-image: url(../images/icon_fb@x2.png);
		background-size:20px 38px;
	}
	.footer-content .social li.google a{
		background-image: url(../images/icon_gl@x2.png);
		background-size:42px 38px;
	}
	.footer-content .social li.twitter a{
		background-image: url(../images/icon_tw@x2.png);
		background-size:44px 34px;
	}
	.footer-content .social li.pinterest a{
		background-image: url(../images/icon_pn@x2.png);
		background-size:38px 38px;
	}
	.plagin_list li.li_1 a{
		background-image: url(../images/icon_ps@x2.png);
		background-size:49px 42px;
	}
	.plagin_list li.li_2 a{
		background-image: url(../images/icon_ai@x2.png);
		background-size:45px 42px;
	}
	.plagin_list li.li_3 a{
		background-image: url(../images/icon_ld@x2.png);
		background-size:40px 43px;
	}
	.plagin_list li.li_4 a{
		background-image: url(../images/icon_fl@x2.png);
		background-size:34px 42px;
	}
	.plagin_list li.li_5 a{
		background-image: url(../images/icon_html@x2.png);
		background-size:39px 55px;
	}
	.plagin_list li.li_6 a{
		background-image: url(../images/icon_wp@x2.png);
		background-size:55px 55px;
	}
	.plagin_list li.li_7 a{
		background-image: url(../images/icon_jq@x2.png);
		background-size:87px 20px;
	}
	.plagin_list li.li_8 a{
		background-image: url(../images/icon_seo@x2.png);
		background-size:60px 24px;
	}
	.box_contact span.email{
		background-image: url(../images/icon_email2@x2.png);
		background-size:54px 41px;
	}
	.box_contact span.phone{
		background-image: url(../images/icon_phone@x2.png);
		background-size:54px 54px;
	}
	.box_contact span.skype{
		background-image: url(../images/icon_skype@x2.png);
		background-size:54px 51px;
	}
/* begin add	 */
	.fancybox-close {
		background-image: url(../images/ico_btn-close@x2.png);
		background-size:46px 46px;
	}
/* end add	 */
}