
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	
	vertical-align: baseline;
}

html{
	overflow-y: scroll;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

img {
	vertical-align: middle;
}

.header ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a[href], label[for], select, 
input[type=checkbox], input[type=radio] {
	cursor: pointer;
}

button, input[type=button], input[type=image], 
input[type=reset], input[type=submit] {
	padding: 0;
	overflow: visible;
	cursor: pointer;
}
input[type=text], input[type=email], input[type=reset], input[type=button], input[type=submit], button{
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
input[type=url], input[type=password], input[type=text], input[type=email], input[type=reset], input[type=button], input[type=submit], button, textarea{
     -webkit-appearance: none;
     -webkit-border-radius: 0;
     box-sizing: border-box;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}

button::-moz-focus-inner, 
input[type=button]::-moz-focus-inner, 
input[type=image]::-moz-focus-inner, 
input[type=reset]::-moz-focus-inner, 
input[type=submit]::-moz-focus-inner {
	border: 0;
}


body,
html {height: 100%;}
body{
	margin:0;
	color:#a4a7ac;
	font:18px Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust: none; 
}
img{border-style:none; vertical-align: top;}

#wrapper{
	width:100%;
	height: 100%;
	display:table;
}
.wrapper-header {
	width:100%;
	height: 10%;
    display:table;
    background: #5555FF;
}
.index-wrapper{
	width:100%;
	
	margin:0px auto;
	padding: 0px auto;
	display:table;
}
.menu_trigger{
	width: 31px;
	height: 31px;
	right:0;
	background: url(../images/mobile_menu.png) no-repeat;
	display: none;
	position: absolute;
}
.logo {
	text-align:center;
	font-family: 'novecentosanswide';
	font-weight:bold;
	color: #fff;
	font-size: 30px;
	line-height: 32px;
	display: block;
	text-transform: uppercase;
	padding: 0px 20px ;
}
#nav {
	position: relative;
	display: table;
	margin: 0 auto 10px;
	padding: 15px 0 0 10px;
}
#nav ul {
	text-align: center;
}
#nav ul li {
	float: left;
	padding: 0 0 0 60px;
}
#nav ul li:first-child{padding: 0;}
#nav ul a {
	color: #aeecc2;
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
	padding: 0 0 10px;
	border-bottom: 4px solid #62bb7f;
	font-weight: normal;
	text-decoration:none;
}
#nav ul a:hover,#nav ul a.active{
	color: #fff;
	border-bottom: 4px solid #fff;
	text-decoration: none;
	-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
.index-body{
	max-width:950px;
	width:90%;
	margin:0px auto;
	padding: 0px auto;
	display:table;
	color:Gray;
}
h2.slogan{
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-family: 'novecento_sans_widebook';
	font-size: 25px;
	color: #aeecc2;
	padding: 20px 0 0px 0;
	color:orange;
}
.index-body p{
	line-height:180%;
	padding:10px 0;
}
.member-body{
	max-width:760px;
	width:95%;
	margin:0px auto;
	padding: 10px auto 0  auto;
	display:table;
	text-align:center;
}
.member-item-center p{
	padding:7px 0;
	line-height:150%;
}
.member-item-center{
	width:150px;
	font-size:16px;
	display:inline-block;
	margin:20px 30px 0px 30px;
	vertical-align:top;
}

.member-item-left{
	width:150px;
	font-size:16px;
	float:left;
	display:inline-block;
	margin:30px 20px 0 20px;
	vertical-align:top;
}
.member-item-left p{
	padding:7px 0;
	line-height:150%;
}

.member-list{
	max-width:760px;
	width:95%;
	margin:10px auto;
	padding: 10px auto;
	display:table;
	font-size:16px;
	color:black;
}

.publication-body{
	max-width:1000px;
	width:100%;
	margin: 10px auto;
	padding: 10px auto;
	display:table;
}

#header {
	max-width: 970px;
	margin: 0 auto;
	padding: 20px 0 20px;
	position:relative;
}

.publication-body ul{
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}
.publication-body b{
	font-weight: bold;
}
.publication-body li{
	text-align: -webkit-match-parent;
	margin: 20px 0;
}
.publication-body a:-webkit-any-link{
	color: -webkit-link;
	cursor: pointer;
	text-decoration: underline;
}

.publication-body em{
	font-style:italic;
}

#footer {
    width:100%;
    display:table-footer-group;
    background:#000fff;
	text-align: center;
}
.footer-content {
	text-align: left;
	max-width: 300px;
	margin: 0 150px;
	padding: 20px 0;
	color: #a5a5a5;
	display:inline-block;
	vertical-align:top;
}

.footer-content p{
	font: Arial, Helvetica, sans-serif;
	font-size: 17px;
	display: block;
	text-align: left;
	color: #929c95;
}

.footer-content a{
	font: Arial, Helvetica, sans-serif;
	display: block;
	text-align: left;
	color: #929c95;
	text-decoration:none;
}


